<%= form_with model: kitten do |form| %>
	<div>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
		<% kitten.errors.full_messages_for(:name).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div> 
		<%= form.label :age %><br>
		<%= form.text_area :age %><br>
		<% kitten.errors.full_messages_for(:age).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

<div> 
		<%= form.label :cuteness %><br>
		<%= form.text_area :cuteness %><br>
		<% kitten.errors.full_messages_for(:cuteness).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div> 
		<%= form.label :softness %><br>
		<%= form.text_area :softness %><br>
		<% kitten.errors.full_messages_for(:softness).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div>
	 <%= form.submit %>
	</div>
<% end %>